import * as S from './styles';
import { {{pascalCase name}}Props } from './types';

export function {{pascalCase name}}({ className, text }: {{pascalCase name}}Props) {
  return (
    <S.{{pascalCase name}}Container className={className}>
      <h1>{text}</h1>
    </S.{{pascalCase name}}Container>
  );
}
